@using BLL.IService
@inject IHttpContextAccessor httpcontext
@inject IConfiguration Configuration
@{
    var service = httpcontext.HttpContext.RequestServices.GetService<IMenuService>();
    var StoreID = httpcontext.HttpContext.Session.GetInt32("storeID");
    var listmenu = await service.ListMenuStore((int)StoreID);
    var SelectMenu = new SelectList(listmenu, "Id", "Name");
}
<div class="modal fade" id="modal-update-food" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-end d-flex justify-content-end">
                <span style="font-weight:700">Sửa Sản Phẩm</span>
                <button type="button" class="btn-close" id="close-modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="row mx-auto" id="form-update-mene-food">
                <div class="mt-3">
                    <input type="hidden" id="id-food-input" name="id-menu-input">
                    <label class="form-label mb-1" for="name-food-update-input">Tên Sản Phẩm <span class="text-danger">(**)</span></label>
                    <input type="text" class="form-control" id="name-food-update-input" placeholder="Nhập Tên Sản Phẩm ..." required>
                    <label class="form-label mt-3 mb-1">Hình Ảnh <span class="text-danger">(**)</span></label>
                    <div class="d-flex align-items-center">
                        <img id="image-food-update" width="100" height="100" class="me-4" style="border-radius:50%;border:1px solid" />
                        <input type="file" class="form-control d-none" id="img-food-update-input">
                        <label class="form-label" for="img-food-update-input"><span class="px-3 py-1 bg-secondary text-white">Chọn Hình Ảnh</span></label>

                    </div>
                    <label class="form-label mt-3 mb-1" for="price-food-update-input">Giá <span class="text-danger">(**)</span></label>
                    <input type="text" class="form-control" id="price-food-update-input" placeholder="Nhập Giá" required>
                    <label class="form-label mt-3 mb-1" for="discount-food-update-input">Giảm Giá (%)</label>
                    <input type="text" class="form-control" id="discount-food-update-input" placeholder="Nhập Giảm Giá">
                    <label class="form-label mt-3 mb-1" for="discount-food-update-input">Mô Tả</label>
                    <textarea class="form-control" id="description-food-update-input" rows="3" placeholder="Nhập Mô Tả"></textarea>
                    <label class="form-label mt-3 mb-1" for="menu-food-update-input">Loại Menu <span class="text-danger">(**)</span></label>
                    <select class="col-12 form-select" id="menu-food-update-input" asp-items="SelectMenu">
                        <option value="" selected>Chọn Menu</option>
                    </select>
                    <label class="form-label mt-3 mb-1" for="status-food-input">Trạng Thái</label>
                    <select class="col-12 form-select" id="status-food-input">
                        <option value="0" selected>Ngưng Nhận Đơn</option>
                        <option value="1" selected>Nhận Đơn</option>
                    </select>
                </div>
                <div class="text-center btn-modal-submit">
                    <button type="submit" class="btn btn-shoppefood text-white">Sửa Sản Phẩm</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#img-food-update-input').on('change', function () {
        var file = this.files[0];
        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image-food-update').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        }
    });
    $(document).ready(function () {
        $('.edit-food').click(function () {
            var foodID = $(this).attr('data-food-id');
            var storeID = $(this).attr('data-store-id');
            var modalupdate = $('#modal-update-food');
            var obj = {
                FoodID: foodID
            };
            $.ajax({
                url: "/Food/DetailFood",
                type: "GET",
                contentType: "application/json",
                data: obj,
                success: function (data) {
                    modalupdate.find('#id-food-input').val(foodID);
                    modalupdate.find("#name-food-update-input").val(data.name);
                    var imageSrc = "/image/Store-" + storeID + "/" + data.image;
                    modalupdate.find("#image-food-update").attr('src', imageSrc);
                    modalupdate.find("#price-food-update-input").val(data.price);
                    modalupdate.find("#discount-food-update-input").val(data.discount);
                    modalupdate.find("#description-food-update-input").val(data.description);
                    modalupdate.find("#menu-food-update-input").val(data.menuID);
                    modalupdate.find('#status-food-input').val(data.status);
                    modalupdate.modal('show');
                }
            });
        });
    });

    $("#form-update-mene-food").submit(function (e) {
        e.preventDefault();
        var formData = new FormData();
        var modalupdate = $('#modal-update-food');
        formData.append('formFile', modalupdate.find('#img-food-update-input')[0].files[0]);
        formData.append('foodid', modalupdate.find("#id-food-input").val());
        formData.append('name', modalupdate.find("#name-food-update-input").val());
        formData.append('img', modalupdate.find("#img-food-update-input").val().replace(/C:\\fakepath\\/i, ''));
        formData.append('price', modalupdate.find("#price-food-update-input").val());
        formData.append('discount', modalupdate.find("#discount-food-update-input").val());
        formData.append('description', modalupdate.find("#description-food-update-input").val() ?? "");
        formData.append('menuid', modalupdate.find("#menu-food-update-input").val() ?? "");
        formData.append('status', modalupdate.find("#status-food-input").val());
        $.ajax({
            url: "/Food/UpdateFood",
            type: "POST",
            contentType: "application/json",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.isSuccess === false) {
                    $("#toastAddToCart").find(".toast-body").html(data.message);
                    $('#modal-update-food').modal("hide");
                    $("#toastAddToCart").attr('style', 'background-color:red')
                    $("#toastAddToCart").toast("show");
                } else if (data.isSuccess === true) {
                    $("#toastAddToCart").find(".toast-body").html(data.message);
                    $('#modal-update-food').modal("hide");
                    $("#toastAddToCart").attr('style', 'background-color:green')
                    $("#toastAddToCart").toast("show");
                    setTimeout(function () {
                        location.reload();
                    }, 2000);
                }
            }
        });
    });
</script>
