@inject IConfiguration Configuration
<div class=" position-fixed top-0 end-0 p-3 " style="z-index:99;">
	<div data-bs-delay="1500" class="toast shadow-custom" id="toastAddToCart" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header d-flex flex-row align-items-center justify-content-between">
			<img src='@Configuration["https:pathImgWeb"]/shopeefoodvn.png' style="height:15px; width:auto;" class="rounded me-2 img-fluid" alt="...">
			<div class="d-flex align-items-center">
				<small class="text-muted">Bây giờ</small>
				<button type="button" class="btn-close shadow-none" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div>
		<div class="toast-body fw-bold text-white" id="toastContent">
		</div>
	</div>
</div>