@inject IConfiguration Configuration
<footer class="main-footer">
    <div class="container">
        <div class="row">
            <span id="line-footer" style="padding: 0 12px"></span>
            <div class="block-footer col-6 col-xxl-2">
                <p class="footer-title">Công Ty</p>
                <ul>
                    <li><a href="#">Giới Thiệu</a></li>
                    <li><a href="#">Trung tâm Trợ giúp</a></li>
                    <li><a href="#">Quy Chế</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Bảo mật thông tin</a></li>
                    <li><a href="#">Giải quyết khiếu nại</a></li>
                    <li><a href="#">Liên hệ</a></li>
                    <li><a href="#">Hợp tác nhân viên giao nhận</a></li>
                    <li><a href="#">Đăng ký quán</a></li>
                    <li><a href="#">ShopeeFood Uni</a></li>
                    <li><a href="#">Shopee Blog</a></li>
                </ul>
            </div>
            <div class="block-footer col-6 col-xxl-2" id="block-foooter-app">
                <p class="footer-title">Ứng Dụng ShopeeFood</p>
                <div class="logo-app">
                    <a href="https://apps.apple.com/us/app/deliverynow/id1137866760" target="_blank">
                        <img src="https://shopeefood.vn/app/assets/img/AppStore-vn.png?1afe809ef1884945ef4a05dacec7679e" alt="">
                    </a>
                </div>
                <div class="logo-app">
                    <a href="https://play.google.com/store/apps/details?id=com.deliverynow" target="_blank">
                        <img src="https://shopeefood.vn/app/assets/img/PlayStore-vn.png?a5bc23fd384a415654c9115efebb67db" alt="">
                    </a>
                </div>
                <div class="logo-app">
                    <a href="https://appgallery.huawei.com/#/app/C102401853" target="_blank">
                        <img src="https://shopeefood.vn/app/assets/img/Huawei-gallery-vn.png?a17f5e9f3500255a52ec23de20dc115a" alt="">
                    </a>
                </div>
            </div>
            <div class="block-logo col-3 d-none d-xxl-block">
                <div class="logo-shoppefooter">
                    <a href="#">
                        <img src='@Configuration["https:pathImgWeb"]/Logo-ShopeefoodVN.png' alt="logo-shoppefood">
                    </a>
                    <p>© 2023 AmNgTDaT</p>
                </div>
            </div>
            <div class="block-last col-12 col-xxl-5">
                <p class="footer-title">Địa Chỉ Công Ty</p>
                <ul>
                    <li>Công Ty Cổ Phần Foody</li>
                    <li>Lầu G, Tòa nhà Jabes 1,</li>
                    <li>số 244 đường Cống Quỳnh, phường Phạm Ngũ Lão, Quận 1, TPHCM</li>
                    <li>Giấy CN ĐKDN số: 0311828036</li>
                    <li>do Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 11/6/2012,</li>
                    <li>sửa đổi lần thứ 23, ngày 10/12/2020</li>
                    <li>Chịu trách nhiệm quản lý nội dung: Nguyễn Hồ Quảng Giang</li>
                    <li>Điện thoại liên hệ: 028 71096879</li>
                    <li class="w-100">Email: <a href="">support@shopeefood.vn</a></li>
                </ul>
                <div class="register">
                    <a href="http://online.gov.vn/Home/WebDetails/22739" target="_blank">
                        <img src='@Configuration["https:pathImgWeb"]/gov_seals1.jpg' alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>