@{
    ViewData["Title"] = "Quên Mật Khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content">
    <div class="main-login">
        <div class="login-page">
            <div id="login-title">
                <p>Quên Mật Khẩu</p>
            </div>
            <form id="forgotpass-form" method="get">
                <div class="from-login">
                    <label id="notification-login"></label>
                    <input type="text" name="email-forgot" id="email-forgot" placeholder="Nhập Email" required>
                    <span class="register-error" id="error-message-email"></span>
                    <button class="btn btn-primary" type="submit">Xác Nhận Email</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/js/ForgotPassword.js" asp-append-version="true"></script>