@inject IConfiguration Configuration
<div class="data-empty">
    <div class="data-empty-img text-center">
        <img src='@Configuration["https:pathImgWeb"]/shippersorry.png' alt="">
    </div>
    <div class="data-empty-title">
        <h1 class="my-2" id="title-nodata">Không Có Dữ Liệu</h1>
    </div>
</div>
