@inject IConfiguration Configuration
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Poppins', sans-serif;
            background-color: #dda491;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            border: none;
            background-color: transparent;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .card-body {
            padding: 3rem !important;
        }

        h2 {
            font-size: 2.5rem;
            color: #fff;
            text-align: center;
            margin-bottom: 2rem;
        }

        .form-control {
            height: 50px;
            font-size: 1.2rem;
            border: none;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 0 15px;
            color: #333;
        }

            .form-control:focus {
                box-shadow: none;
            }

        .btn-lg {
            padding: 0.75rem 2.5rem;
            font-size: 1.2rem;
            border-radius: 25px;
            background-color: #fff;
            color: #333;
            border: none;
            transition: all 0.3s ease;
        }

            .btn-lg:hover {
                background-color: #f0f0f0;
                color: #333;
            }

        .toast {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 1000;
            margin: 1rem;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            color: #333;
        }

        .toast-body {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="fw-bold text-uppercase">Đăng Nhập</h2>
                        <form id="form-login" method="post">
                            <div class="border rounded p-4 mb-4">
                                <div class="mb-4">
                                    <input type="text" id="username-login" name="username-login" class="form-control form-control-lg" placeholder="Tên Đăng Nhập" required />
                                </div>
                                <div class="mb-4">
                                    <input type="password" id="password-login" name="password-login" class="form-control form-control-lg" placeholder="Mật Khẩu" required />
                                </div>
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-lg" type="submit">Đăng Nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="toast shadow" id="toastAddToCart" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1500">
        <div class="toast-header">
            <img src="@Configuration["https:pathImgWeb"]/shopeefoodvn.png" class="rounded me-2 img-fluid" alt="...">
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body fw-bold">
            <!-- Toast content here -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $("#form-login").submit(function (e) {
            e.preventDefault();
            var obj = {
                LoginName: $("#username-login").val(),
                Password: $("#password-login").val()
            }
            $.ajax({
                url: "/Store/Login",
                type: "POST",
                data: JSON.stringify(obj),
                contentType: "application/json",
                success: function (value) {
                    if (value.isSuccess == false) {
                        $("#toastAddToCart").find(".toast-body").html(value.message);
                        $("#toastAddToCart").addClass('bg-danger text-white').toast("show");
                    } else if (value.isSuccess == true) {
                        $("#toastAddToCart").find(".toast-body").html(value.data.statusMessage);
                        $("#toastAddToCart").addClass('bg-success text-white').toast("show");
                        setTimeout(function () {
                           window.location.href = "/Home/Index";
                            // if (value.data.userRole === "Admin") {
                            //     window.location.href = "/Admin/Index";
                            // }else{
                            //     window.location.href = "/Home/Index";
                            // } 
                            
                        }, 2000);
                    }
                }
            });
        });
    </script>
</body>
</html>

