
@{
    ViewData["Title"] = "Danh Sách Bộ Sưu Tâp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-content">
    <div class="container">
        <div class="collection-title">
            <h2>Danh Sách Bộ Sưu Tập</h2>
        </div>
        <div class="list-collection">
            <div class="list-collection-page row">
                @* list collection *@
            </div>
        </div>
        <ul class="pagination">
            <li></li>
        </ul>
    </div>
</div>
<script src="~/js/CollectionPage.js" asp-append-version="true"></script>
